#section_menu_container,
#action_nav_container {
	border: 1px solid #ccc;
	border-width: 1px 0px;
	padding-left: 20px;
	background: url(/images/admin/section_menu_bg.png);
}
#section_menu,
#action_nav {
	height: 40px;
	border-left: 1px solid #ccc;
}
#section_menu li a,
#action_nav li a {
	display: block;
	height: 40px;
	padding: 0px 20px 0px 20px;
	line-height: 40px;
	border-left: 1px solid #fff;
	border-right: 1px solid #ccc;
}
#section_menu li a:hover
#action_nav li a:hover {
	background-color: #eee;
	border-left: 1px solid #eee;
}