html, body {
	padding: 0px;
	margin: 0px;
	color: #333;
	background-color: #f6f6f6;
 	font: 12px "Lucida Grande",Lucida,Helvetica,sans-serif;
	line-height: 1.5em;
}
ul, li {
	margin: 0px;
	padding: 0px;
	list-style-type: none;
}
img {
	border-width: 0px;
}
a { 
	outline: none; 
}

.clearing {
  display: block;
  zoom: 1; /* gives layout to ie? */
}
.clearing:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
* html .clearing {
  height: 1%;
}
.inline {
	display: inline !important;
}
.alt {
	background-color: #f0f0f0 !important;
}
.empty {
  padding: 10px;
  padding-left: 35px;
  background: #eee url(/images/icons/minus.gif) 10px 50% no-repeat; 
}
.divider {
	border-top: 1px solid #ccc;
	padding: 20px 0px 0px 12px;
}

/* flash, errors, notices */

#flashes div {
	line-height: 40px;
}
#flash-notice {
  background: #cfc;
  color: #051;
  text-align: center;
}
#flash-error {
  background: #F69A91;
  color: #510;
  text-align: center;
}

#header {
	position: relative;
	background: url(/images/admin/header_bg.png) repeat-x;
	height: 125px;
}
#main {
	position: absolute;
	clear: both;
  width: 68%;
  border-right: 3px solid #e6e6e6;
  border-bottom: 3px solid #e6e6e6;
	background-color: #fff;
	padding-bottom: 40px;
}
#flashes {
	margin-top: -16px;
	height: 40px;
	background-color: white;
  text-align: center;
  font-weight: bold;
}
#content {
	padding: 20px 30px;
}
#sidebar {
	position: absolute;
  left: 70%;
	width: 30%;
	margin-top: 10px;
	/*padding-left: 30px;*/
}
#header h1 {
	position: absolute;
	top: 10px;
	margin: 0px 0px 0px 20px;
	font-size: 14px;
	color: #999;
}

/* activities */

.activities h3 {
	border-bottom: 1px solid #ccc;
}
.activities h4,
.activities p,
.activities blockquote {
	margin: 0px 0px 3px 0px;
	font-weight: normal;
}
.activities blockquote {
	font-style: italic;
}
.activities .meta {
	float: right;
	margin: 0px 0px 4px 10px;
	text-align: right;
}
.activities .activity li {	
	display: inline;
}

.activities .activity {	
	padding: 10px 10px 10px 35px;
}
.activity.comment-created {
	background: url(/images/icons/comment_add.png) no-repeat 10px 11px;
}
.activity.comment-edited {
	background: url(/images/icons/comment_edit.png) no-repeat 10px 11px;
}
.activity.comment-deleted {
	background: url(/images/icons/comment_delete.png) no-repeat 10px 11px;
}
.activity.comment-approved {
	background: url(/images/icons/comment.png) no-repeat 10px 11px;
} 
.activity.comment-unapproved {
	background: url(/images/icons/comment.png) no-repeat 10px 11px;
}

.activity.article-created {
	background: url(/images/icons/page_add.png) no-repeat 10px 11px;
}
.activity.article-revised {
	background: url(/images/icons/page_edit.png) no-repeat 10px 11px;
} 
.activity.article-published {
	background: url(/images/icons/page_go.png) no-repeat 10px 11px;
} 
.activity.article-unpublished {
	background: url(/images/icons/page_red.png) no-repeat 10px 11px;
} 
.activity.article-deleted {
	background: url(/images/icons/page_delete.png) no-repeat 10px 11px;
}

.activity.wikipage-created {
	background: url(/images/icons/page_white_add.png) no-repeat 10px 11px;
}
.activity.wikipage-revised {
	background: url(/images/icons/page_white_edit.png) no-repeat 10px 11px;
}
.activity.wikipage-deleted {
	background: url(/images/icons/page_white_delete.png) no-repeat 10px 11px;
}




/* assets */

#assets-list {
	width: 800px;
}
.assets-row {
	float: left;
	clear: both;
  margin-bottom: 25px;
}
.assets-row div {
	float: left;
	margin-right: 45px;
  position: relative;
}
.assets-row img {
  padding: 5px;
  border: 1px solid #ccc;
}
.asset-tools {
	position: absolute;
	bottom: 1px;
  width: 60px;
	background-color: #efefef;
	padding-top: 1px;
	margin-right: auto;
}
#recent-assets div {	
	margin-right: 60px;
}
#recent-assets .asset-tools {
	left: 35px;
}
.asset-tools li {
	display: inline;
}
.asset-tools li a {
  float: left;
  display: block;
  height: 16px;
  width: 16px;
  margin: 0px 2px;
  text-indent: -9999px;
  text-decoration: none;
}
.asset-tools li.edit a   { background-image: url(/images/icons/pencil.png) }
.asset-tools li.delete a { background-image: url(/images/icons/delete.png) }
.asset-tools li.bucket a { background-image: url(/images/icons/attach.png) }

#asset_form #file-label {
	margin-left: 22px;
}
#asset_form #title-label,
#asset_form #taglist-label {
	position: absolute;
	left: 345px;
}
#asset_form #taglist-label {
	left: 560px;
}
#asset_form .title_field,
#asset_form .taglist_field {
	width: 200px;
}

/* assets widget */

#assets-widget .tabs li {
  display: inline;
}
#assets-widget .tabs li a {
  padding: 5px 5px 3px 20px;
  margin-right: 3px;
  border: 1px solid #ccc;
  border-bottom: 0px;
  color: #333;
  font-size: 90%;
	text-decoration: none;
  background-color: #ccc;
}
#assets-widget .tabs .selected a {
  background-color: #fff !important;
  padding-bottom: 3px;
	border-bottom: 1px solid #fff;
}
#assets-widget .tabs li a:hover {
  background-color: #eee;
  color: #000;
}
#assets-widget #tab-attached-assets a { 
	background: url(/images/icons/link.png) 3px 3px no-repeat; 
}
#assets-widget #tab-latest-assets a {
	padding-left: 21px;
	background: url(/images/icons/page_favorites.png) 4px 4px no-repeat; 
}
#assets-widget #tab-bucket-assets a { 
	background: url(/images/icons/attach.png) 2px 3px no-repeat; 
}
#assets-widget #tab-search-assets a { 
	padding-left: 22px;
	background: url(/images/icons/magnifier.png) 4px 50% no-repeat;
}
#assets-widget #tab-upload-assets a { 
	background: url(/images/icons/bullet_go.png) 3px 2px no-repeat; 
}

#assets-widget .panel {
	float: left;
	width: 90%;
	margin-top: 0px;
  padding: 3px 8px 8px 8px;
	border: 1px solid #ccc;
  background: #fff;
}
.asset-list {
	margin-top: 5px;
}
.asset-list li {
	position: relative;
	float: left;
	padding: 3px;
  margin: 4px 4px 0px 0px;
	background-color: #fff;
}
.asset-list li img {
  border: 1px solid #999;
}
.asset-list .selected {
	background: url(/images/asset_selected.png) top left no-repeat;
}
#attached-assets .selected {
	background: none;
}
.asset-list a {
	display: block;
}
.asset div {
	position: absolute;
	top: 6px;
	left: 6px;
}
.asset div a img {	
	float: left;
	border: 0px;
}
.asset .detach-asset,
.selected .attach-asset {
	display: none;
}
.selected .detach-asset {
	display: block;
}
#asset-search label {
	font-weight: bold; 
	padding: 5px 0;
}
#assets-widget .spinner {
	vertical-align: middle;
}
#search-assets-query {
	width: 260px;
}

form {
	margin: 0px;
}
form h4 {
	color: #444;
	margin-bottom: 10px;
}
fieldset {
	background-color: #f6f6f6;
	border-width: 0px;
	border-top: 5px solid #e6e6e6;
	padding: 0px 20px 1px 20px;
}
label {
	display: block;
	color: #444;
	font-size: 13px;
	font-weight: bold;
	text-shadow: #fff 1px 1px;
	line-height: 24px;
}
label.light {
	display: inline;
	color: #333;
	font-size: 13px;
	font-weight: normal;
	text-shadow: none;
	line-height: normal;
}
label.block {
	display: block;
}
.hint {
	display: block;
	font-size: 11px;
	font-weight: normal;
	color: #555;
	margin-bottom: 8px;
}
input[type="text"],
input[type="password"],
textarea {
	width: 300px;
	border: 1px solid #ccc;
	padding: 4px;
	font-size: 13px;
}
textarea {
	width: 100%;
}
textarea.short {
	width: 100%;
	height: 100px;
}
input.big {
	width: 100%;
	font-size: 20px;
}
input.short {
	width: 50px;
}
p.buttons {
	background-color: #eaf6f6;
	border-top: 1px solid #99D3D5;
	margin: 20px 0pt;
	padding: 10px;
}
.widetab {
  display: block;
  /*border: none !important;*/
  border-top: 1px solid #ccc !important;
  background: #eee;
  padding: 5px;
  text-decoration: none;
  margin-top: 10px;
  font-weight: bold;
  text-align: center;
}
.widetab:hover {
  background-color: #ddd;
}

#sidebar h4 {
	clear: both;
}
#sidebar label {
	font-size: 11px;
}
#sidebar input[type="text"] {
	font-size: 13px;
	padding: 3px;
}

/*.site_spam_settings {
	display: none;
}
.site_spam_settings.active {
	display: block;
}*/
#site_spam_settings_fields div {
	padding-left: 25px;
}


/* errors */

.field_with_error input,
.field_with_error textarea {
	/*border-color: #c00; 
		border-width: 2px;
	background-color: #ffa;*/
}
.error_message {
	display: block;
	color: #c00;
	font-size: 11px;
	padding-top: 5px;
}

p.total {
	background-color: #eee;
	text-align: center;	
  padding: 3px 3px;
}
table.list {
	width: 100%;
	border-collapse: collapse;
}
table.list th {
	padding: 8px 10px;
	text-align: left;
	border-bottom: 5px solid #ccc;
}
table.list td {
	padding: 8px 10px;
	border-bottom: 1px solid #eee;
}

table.list a.published {
	padding-left: 30px;
	background: url(/images/icons/tick.png) no-repeat;
}
table.list a.pending {
	padding-left: 30px;
	background: url(/images/icons/hourglass.png) no-repeat;
}
table.list a.view {
	display: block;
	float: left;
	width: 16px;
	height: 16px;	
	margin-right: 5px;
	text-indent: 16px;
	overflow: hidden;
	background: url(/images/icons/page_white_magnify.png) no-repeat;
}

/* comments list */

#comments_list li {
	padding: 15px 40px;
	background: url(/images/icons/comment.png) no-repeat 15px 15px;
}
#comments_list li.highlight {
  padding: 20px 20px 20px 55px !important;
  padding-bottom: 3px;
  border: 1px solid #add;
  background-color: #eaf6f6 !important;
  margin: 20px 0;	
}
#comments_list blockquote {
	margin: 0px 0px 10px 0px;
}
#comments_list cite {
	font-size: 11px;
	font-style: normal;
}

/* cached_pages list */

#cached_pages {
	width: 100%;
}
#cached_pages th {
	padding: 8px 10px;
	text-align: left;
	border-bottom: 5px solid #ccc;
}
#cached_pages td {
	padding: 8px 10px;
	border-bottom: 1px solid #eee;
}
#cached_pages tr.deleted td {
	text-decoration: line-through;
	color: #aaa;
}
#cached_pages tr.deleted a {
	display: none;
}
#cached_pages tr span {
	display: none;
}
#cached_pages tr.deleted span {
	display: block;
}

#sections_indicator {
	position: absolute;
	margin-top: -1px;
	margin-left: 6px;
}
#categories, #categories ul,
#sections, #sections ul { 
	padding-left: 20px; 
	line-height: 25px;
}
#categories, #sections {
	padding-left: 0px;
}
.sortable {
	padding-top: 3px;
	cursor: move;
}
.sortable li {
	margin-top: -6px;
	line-height: 31px;
}
.sortable li span {
/*	padding-left: 20px;
	background: url(/images/icons/arrow_cross.png) no-repeat 0px 1px;*/
}
td.sortable {
	padding-top: 0px;
	padding-left: 40px !important;
	background: url(/images/icons/arrow_up_down.png) no-repeat 11px 9px;
}
.drop_hover {
	background: url(/images/sortable_tree/drag.png) no-repeat bottom left;
}
.drop_top {
	background-position: top left;
}
.drop_bottom {
	background-position: bottom left;
}
.drop_insert {
	background-position: 20px 100%;
}



#themelist {
  list-style: none;
	margin: 20px 0px;
	padding: 0px;
}
#themelist li {
  display: block;
  position: relative;
  float: left;
  width: 23%;
	margin: 0px;
	padding: 0px;
  text-align: center;
  padding: 0px 5px 30px 5px;
  border-bottom: 1px solid #ccc;
	margin-bottom: 20px;
}
#themelist h4 {
	font-size: 14px;
	margin: 0px 0px 4px 0px;
}
#themelist p {
	margin: 0px 0px 8px 0px;
  font-weight: normal;
  font-size: 11px;
  color: #777;
}
#themelist img,
#screenshot img {
  width: 130px;
  height: 130px;
  background: #fff;
  margin: 5px;
  padding: 5px;
  border: 1px solid #ddd;
}
#themelist ul {
	text-align: center;
	padding: 4px 0px;
}
#themelist ul li {
	float: none;
	display: inline;
	padding: 4px;
}
#themelist .current img {
	margin: 0px;
  padding: 10px;
	border-color: transparent;
	background: url(/images/theme_selected.png) no-repeat;
}

.users {
  list-style: none;
  margin-top: 20px;
}
.users li {
	float: left;
	width: 100%;
  background: #eee;
  margin: 0 0 10px 0;
  padding: 5px;
}
.users h3 {
	margin: 0px;
}
.users img.avatar {
  float: left;
  margin-right: 10px;
  max-height: 50px;
  max-width: 50px;
}
img.avatar {
  padding: 3px;
  background: #fff;
  border: 1px solid #ccc;
  max-width: 50px;
  max-height: 50px;
}
#sidebar div.user {
	margin-top: 20px;
	height: 80px;
}
#sidebar div.user h3 {
	margin: 0px;
}
#sidebar div.user p {
	margin: 10px;
}
#sidebar img.avatar {
  float: left;
  margin-right: 10px;
}

#menu_global {
	position: absolute;
	top: 5px;
	right: 10px;
}
#menu_global li {
	float: left;
	padding-left: 15px;
}

.menu li {
	float: left;
}
.menu li a {
	font-weight: bold;
	font-size: 13px;
	color: #777;
	text-decoration: none;
	text-shadow: #fff 1px 1px;
}
.site_menu {
	position: absolute;
	bottom: 32px;
}
.site_menu li {
	margin-left: 5px;
	padding: 5px 15px;
	background-color: #f0f0f0;
}
#site_menu_primary {
	left: 50px;
}

#site_menu_secondary {
	right: 50px;
}
#section_menu_container,
#action_nav_container {
	border: 1px solid #ccc;
	border-width: 1px 0px;
	padding-left: 20px;
	background: url(/images/admin/section_menu_bg.png);
}
#section_menu,
#action_nav {
	height: 40px;
	border-left: 1px solid #ccc;
}
#section_menu li a,
#action_nav li a {
	display: block;
	height: 40px;
	padding: 0px 20px 0px 20px;
	line-height: 40px;
	border-left: 1px solid #fff;
	border-right: 1px solid #ccc;
}
#section_menu li a:hover
#action_nav li a:hover {
	background-color: #eee;
	border-left: 1px solid #eee;
}

/* filter */

#filter {
	position: relative;
	padding-right: 10px;
	border-bottom: 1px solid #ccc;
	line-height: 34px;
	text-align: right;
	background: url(/images/filter-bg.png) repeat-x top left;
	font-size: 11px;
}
#filter ul {
  padding: 1px 10px 0px 0px;
}
#filter li {
	float: left;
}
#filter label {
	color: #777;
}
#filter select {
	color: #444;
	margin-left: 5px;
}
#filter input[type="text"] {
	width: 150px;
	font-size: 13px;
	margin-left: 5px;
}
#filter ul li a {
  text-decoration: none;
  padding: 2px 8px 3px 0;
  margin: 0px 6px 0px 9px;
	color: #777;
  text-shadow: 1px 1px #fff;
  font-weight: bold;
}
#filter li a:hover, #filter li:hover a {
  color: #fff;
  text-shadow: 1px 1px #578;
  background: transparent url(/images/filter-attr-hover.png) 100% 50% no-repeat;
}
#filter li:hover {
  background: transparent url(/images/filter-attr-hover-left.png) 0 50% no-repeat;
}
#filter li.pressed a { 
  outline: none;
  color: #fff;
  text-shadow: 1px 1px #578;
  background: transparent url(/images/filter-attr-pressed.png) 100% 50% no-repeat !important;
}
#filter li.pressed  {
  background: transparent url(/images/filter-attr-pressed-left.png) 0 50% no-repeat !important;
}
#filter ul#attributes {
  position: absolute;
  top: 0;
  right: 0;
	margin-right: 165px;
}
#assets-search-query {
	margin-top: 5px;
  border: 1px solid #ccc;
  right: 0;
	font-size: 11px;
}
#spin {
	float: left;
	display: block;
  width: 16px; 
	height: 16px;
	margin: 11px 3px 0px 13px;
}

/* sidebar */

ul.categories ul {
	padding-left: 20px; 
}